.statistics {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;

    font-weight: 400;

    transition: all 0.35s ease-out;
  }
}

.finish-statistics {
  & {
    position: relative;

    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 750px;
    padding: 30px 10px;
  
    background-color: white;
    border-radius: 5px;
  }

  &_hidden {
    pointer-events: none;
  }

  &__title {
    text-align: center;
    color: #37383c;
    font-size: 3.2em;
  }

  &__answers {
    & {
      width: 100%;
      height: 100%;
      padding-right: 12px;
    }
  }

  &__answers-invalid,
  &__answers-valid {
    position: relative;

    display: flex;
    flex-direction: column;
  }

  &__answers-line {
    width: 100%;
    height: 1px;
    margin: 10px 0px;

    background: #37383c67;
  }

  %answers-title-font-size {
    font-size: 1.4em;
  }

  &__answers-invalid-title {
    @extend %answers-title-font-size;
    color: #ed593b;
  }

  &__answers-valid-title {
    @extend %answers-title-font-size;
    color: #28c38a;
  }

  &__answer {
    display: flex;
    align-items: center;
    margin-top: 15px;

    font-size: 1.6em;
  }

  &__answer-audio {
    & {
      width: 32px;
      height: 32px;
      background: {
        image: url(/assets/img/statistics-modal/audio-inactive.svg);
        size: 20px 18px;
        position: 50%;
        repeat: no-repeat;
      }
  
      cursor: pointer;
      outline: none;
    }

    &_active {
      background-image: url(/assets/img/statistics-modal/audio-active.svg);
    }

    &:focus {
      outline: none;
    }

    &:hover {
      background-image: url(/assets/img/statistics-modal/audio-active.svg);
    }
  }

  &__answer-eng {
    padding: 0 3px;

    color: #2582e7;
    text-align: justify;

    cursor: pointer;
  }

  &__answer-dash {
    margin: 0px 4px;

    text-align: justify;
  }

  &__answer-ru {
    padding: 0 3px;

    color: #37383c;
  }

  &__controls-container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  &__controls-button {
    & {
      height: 40px;
      padding: 0 20px;

      background-color: rgba(37, 130, 231, 0.08);

      border: none;
      border-radius: 5px;
      outline: none;

      color: #2582e7;
      font-size: 2em;

      cursor: pointer;
    }

    &:hover {
      background-color: rgba(37, 130, 231, 0.12);
    }
  }
}

.wrapper {
  &__answers {
    & {
      position: relative;
      overflow-y: auto;
  
      display: flex;
      justify-content: center;
      align-self: center;
      flex-direction: column;
      width: 80%;
      height: 248px;
      margin: 30px 0;
    }

    /* styling scrollbar */
    &::-webkit-scrollbar-thumb {
      border-radius: 4px;
      background-color:rgba(37, 130, 231, 0.20);
    }

    &::-webkit-scrollbar{
      width: 8px;
    }
  }
}

@keyframes pop-up {
  0% {
    top: 200px;
    opacity: 0;
    animation-timing-function: ease-out;
  }
  100% {
    top: 0;
    opacity: 1;
    animation-timing-function: ease-out;
  }
}

@keyframes pop-down {
  0% {
    top: 0;
    opacity: 1;
    animation-timing-function: ease-in;
  }

  100% {
    top: 200px;
    opacity: 0;
    animation-timing-function: ease-in;
  }
}

.animation-pop-up {
  animation: pop-up 0.5s forwards;
}

.animation-pop-down {
  animation: pop-down 0.5s forwards;
}
