// Fonts
$main-font                : Montserrat, Helvetica, Arial, sans-serif;
$main-font-weight         : 300;

// Sizes
$main-font-size           : 18px;
$main-line-height         : 1;

// Media sizes
$big-desktop-width        : 1440px;
$desktop-width            : 1020px;
$sm-desktop-width         : 980px;
$tablet-width             : 768px;
$phone-width              : 480px;
$small-phone-width        : 320px;

// Main colors
$default-color            : #ffffff;
