$image-gap: 32px;

.about-us {
    padding: 30px 0 100px 0;
}

.about-us__title {
    margin: 0 0 14px;
}

.about-us__description {
    margin: 0 0 45px;
    @media (max-width: 425px) {
        margin: 0 0 100px;
    }
}

.employee-container {
    padding-right: $image-gap;
}

.employee {
    display: flex;
    padding: 30px;
    margin-bottom: 45px;
    position: relative;
    width: calc(30% - 32px);
    cursor: pointer;
    transition: all .25s;
    &:hover {
        box-shadow: 1px 4px 50px rgba(0,0,0,.17);
    }
    @media (max-width: 425px) {
        padding: 15px 15px;
    }
}

.employee__name {
    margin: 0;
}

.employee__title {
    @include font($size: 1.4rem, $weight: normal);
    margin: 0;
}

.employee__contact {
    @include font($size: 1.4rem, $weight: normal);
    color: $color-link;
    text-decoration: none;
    &:hover {
        text-decoration: underline;
    }
    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
}

.employee__photo {
    width: 98px;
    height: 98px;
    border-radius: 50%;
    position: absolute;
    right: -$image-gap;
    top: -22px;
    box-shadow: 0px 15px 30px rgba(0, 0, 0, 0.15);
    @media (max-width: 425px) {
        top: -4px;
        width: 68px;
        height: 68px;
    }
}

.employee__modal-window {
    position: fixed;
    display: none;
    max-width: 400px;
    flex-direction: column;
    align-items: flex-end;
    width: fit-content;
    height: fit-content;
    background: #fff;
    padding: 5rem 5rem 2rem 2rem;
    bottom: 10%;
    left: 50%;
    margin-left: -190px;
    box-shadow: 0 4px 4px rgba(0,0,0,.25);
    border-radius: 10px;
     .close_modal {
        display: flex;
        justify-content: center;
        .btn-close_modal {
            background: #ff9900c7;
            outline: none;
            border: 1px solid $color-border;
            border-radius: 3px;
            transition: all .25s;
            &:hover {
                background: $color-primary;
            }
        }
     }
     @media (max-width: 480px) {
        padding: 3rem 3rem 2rem 1rem;
        left: 61%;
     }
     @media (max-width: 380px) {
        left: 73%;
     }
}

.employee__stuff {
    display: flex;
    flex-direction: column;
    @media (max-width: 480px) {
        font-size: 1.2rem;
    }
}

.show_employee_modal {
    display: flex;
    animation: show_modal 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }

.scale-out-center {
	animation: scale-out-center 0.5s cubic-bezier(0.550, 0.085, 0.680, 0.530) both;
}

@-webkit-keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  @keyframes scale-out-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
  }
  
