.promo {
    padding: 0 0 50px;
    overflow: hidden;
    background-image: url('/assets/img/promo/2.jpg');
    background-size: contain;
    background-position: bottom;
    @media (max-width: 970px) {
        background-size: cover;
        background-repeat: no-repeat;
      }
}

.promo__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    @include media-mobile {
        flex-direction: column-reverse;
    }
}

.promo__content {
    @include media-tablet {
        padding-right: 0;
    }
    @include media-mobile {
        text-align: center;
    }
}

.promo__image {
    width: 771px;
    height: 520px;
}

.promo__title {
    margin: 0 0 30px;
}

.promo__buttons {
    display: flex;
    align-items: center;
    >* {
        margin: 0 44px 20px 0;
        &:last-child {
            margin-right: 0;
            max-height: 50px;
            min-width: fit-content;
            background: #fcf5f2;
            border: 2px solid #f90;
            padding: 11px 25px 13px;
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.1rem;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    @include media-mobile {
        flex-direction: column;
        >* {
            margin-right: 0;
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.promo__text {
    max-width: 487px;
    margin: 0 0 45px;
    @extend %font-add;
    @include font($size: 1.8rem, $height: 2.8rem, $weight: 500);
    @include media-tablet {
        width: 380px;
    }
    @include media-mobile {
        width: auto;
    }
}

.promo__image {
    @include media-mobile {
        max-width: 100%;
        margin-bottom: 16px;
    }
}