.promo {
    padding: 15rem 0 0rem;
    overflow: hidden;
    background-image: url(/assets/img/promo/5294.png);
    background-size: 80%;
    background-size: contain;
    background-position: bottom;
    background-repeat: no-repeat;
    background-color: #fff;
    min-height: 100vh;
    @media (max-width: 970px) {
        background-size: cover;
        background-position-x: center;
        background-position-y: 70px;
        background-repeat: no-repeat;
      }
}

.promo__wrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    @include media-tablet {
        justify-content: center;
    }
    @include media-mobile {
        flex-direction: column;
    }
}

.promo__content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    @include media-tablet {
        padding-right: 0;
    }
    @include media-mobile {
        text-align: center;
    }
}

.form__register {
    width: 771px;
    height: 520px;
}

.promo__title {
    color: $color-text;
    margin: 0 0 30px;
    @media (max-width: 970px) {
        text-align: center;
      }
}

.promo__buttons {
    display: flex;
    align-items: center;
    >* {
        margin: 0 44px 20px 0;
        &:focus {
            outline: none;
        }
        &:last-child {
            margin-right: 0;
            max-height: 50px;
            min-width: fit-content;
            background: #fcf5f2;
            border: 2px solid $color-primary;
            padding: 11px 25px 13px;
            font-style: normal;
            font-weight: 600;
            font-size: 1.6rem;
            line-height: 2.1rem;
            border-radius: 4px;
            cursor: pointer;
        }
    }
    @include media-mobile {
        flex-direction: column;
        >* {
            margin-right: 0;
            margin-bottom: 26px;
            &:last-child {
                margin-bottom: 0;
            }
        }
    }
}


.promo__text {
    max-width: 487px;
    margin: 0 0 45px;
    padding: 10px;
    background: $color-transperent-white;
    border: 2px solid $color-border;
    border-radius: 5px;
    @extend %font-add;
    @media (max-width: 970px) {
        text-align: center;
      }
    @include font($size: 1.8rem, $height: 2.8rem, $weight: 500);
    @include media-tablet {
        width: 380px;
    }
    @include media-mobile {
        width: auto;
    }
}

.form__register {
    @include media-mobile {
        max-width: 100%;
        margin-bottom: 16px;
    }
}

.arrow-down {
    width: 100%;
    display: flex;
    padding-left: 24rem;
    padding-top: 5rem;
    @media (max-width: 970px) {
        display: flex;
        justify-content: center;
        padding: 5rem 0rem 5rem 0rem;
      }
    @include media-tablet {
        display: none;
    }

    img {
        width: 50px;
        display: block;
        cursor: pointer;
    }

    .shake-vertical:hover {
        -webkit-animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        animation: shake-vertical 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
    }

    @-webkit-keyframes shake-vertical {
        0%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
        }
        80% {
          -webkit-transform: translateY(6.4px);
                  transform: translateY(6.4px);
        }
        90% {
          -webkit-transform: translateY(-6.4px);
                  transform: translateY(-6.4px);
        }
      }
      @keyframes shake-vertical {
        0%,
        100% {
          -webkit-transform: translateY(0);
                  transform: translateY(0);
        }
        10%,
        30%,
        50%,
        70% {
          -webkit-transform: translateY(-8px);
                  transform: translateY(-8px);
        }
        20%,
        40%,
        60% {
          -webkit-transform: translateY(8px);
                  transform: translateY(8px);
        }
        80% {
          -webkit-transform: translateY(6.4px);
                  transform: translateY(6.4px);
        }
        90% {
          -webkit-transform: translateY(-6.4px);
                  transform: translateY(-6.4px);
        }
      }            
}