.global-stats {
  & {
    position: absolute;
    top: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
  }

  &__message {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;

    white-space: pre-wrap;
    text-align: center;
  }
}

.canvasjs-chart-credit {
  display: none !important;
}

.pop-up {
  font-size: 12px;
}
