@media (max-width: 1427px) {
   .block__slider {
      max-width: 900px;
   }
   .slider-b-body__get {
      margin-bottom: 20px;
   }
   .slider-b-body__get span {
      font-size: 20px;
   }
   .slider-b-body__more {
      font-size: 20px;
   }
   .slider-b-body__bottom {
      flex-direction: column;
      align-items: flex-start;
   }
   .slider-b-body__title {
      font-size: 37px;
   }
   .slider-b-body__title input {
      font-size: 37px;
      line-height: 30px;
   }
}
@media (max-width: 1337px) {
   .statistics__graph {
      width: 811px;
      height: 411px;
   }
   .vocabulary__info-title a {
      width: 250px;
   }
   .vocabulary__info-title a {
      padding: 7px 0px;
   }
}
@media (max-width: 1225px) {
   .block__slider {
      max-width: 800px;
   }
   .slider-b-body__sub {
      font-size: 19px;
      margin-bottom: 30px;
   }
   .slider-b-body__title {
      font-size: 29px;
      line-height: 30px;
   }
   .slider-b-body__text {
      margin-bottom: 30px;
   }
   .slider-b-body__title input {
      font-size: 29px;
   }
   .slider-block__img {
      img {
         width: 100%;
      }
   }
}
@media (max-width: 1178px) {
   .statistics__graph {
      width: 648px;
      height: 328px;
   }
   .vocabulary__info-title a {
      width: 200px;
   }
   .vocabulary {
      max-height: 690px;
   }
   .block__slider {
      max-width: 600px;
   }
}
@media (max-width: 998px) {
   .statistics__graph {
      width: 518px;
      height: 262px;
   }
   .statistics__graph {
      margin: 32px 0 0 0;
   }
   .block__slider {
      max-width: 510px;
   }
   .slider-block__info {
      flex-direction: column;
   }
   .slider-block__img {
      text-align: center;
      img {
         width: 30%;
      }
   }
   .lvl-block {
      margin-top: 20px;
   }
   .bar-block {
      margin-top: 20px;
   }
}
@media (min-width: 900px) {
   .menu {
      width: 67px;
   }
}
@media (max-width: 900px) {
   .settings {
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .settings__logout a {
      width: 100%;
      padding: 10px 10px;
      text-align: center;
   }
   .settings__item {
      min-width: 432px;
      width: 100%;
   }
   .vocabulary {
      left: 50%;
   }
   .vocabulary__info-title a {
      width: 170px;
      font-size: 15px;
   }
   .vocabulary__trening {
      a {
         font-size: 15px;
         line-height: 20px;
         color: #000000;
         padding: 6px 21px;
         background: #f4f1e0;
         box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
         border-radius: 5px;
         display: inline-block;
      }
   }
   .vocabulary__about {
      font-size: 30px;
   }
   .statistics {
      left: 50%;
      transform: translate(-50%, -50%);
   }
   .menu {
      width: 0px;
      overflow: hidden;
   }
   .menu__burger {
      display: block;
   }
   .menu__burger.BurgerLock {
      span {
         opacity: 0;
         transition: 0.3s;
      }
      &::before {
         bottom: 9px;
         transform: rotate(-45deg);
      }
      &::after {
         transform: rotate(45deg);
         top: 9px;
      }
   }

   .opportunities-menu__item-open {
      display: none;
   }
   .block {
      left: 50%;
   }
   .block__slider {
      max-width: 710px;
   }
}
@media (max-width: 819px) {
   .slider-b-body__title {
      font-size: 25px;
      line-height: 20px;
   }
   .slider-b-body__title input {
      font-size: 25px;
   }
   .slider-b-body__sub {
      margin-bottom: 15px;
      font-size: 18px;
   }
   .slider-b-body__show {
      font-size: 20px;
      line-height: 20px;
      margin-bottom: 10px;
   }
   .slider-b-body__text {
      margin-bottom: 15px;
   }
   .slider-b-body__get {
      margin-bottom: 10px;
      span {
         font-size: 18px;
      }
   }
   .slider-b-body__more {
      font-size: 18px;
   }
   .block__slider {
      max-width: 330px;
   }
   .lvl-block__item {
      font-size: 18px;
   }
   .block__slider {
      padding: 20px;
      max-width: 510px;
   }
}
@media (max-width: 649px) {
   .statistics__graph {
      width: 414px;
      height: 209px;
   }
   .vocabulary__info-title a {
      width: 150px;
      font-size: 15px;
      border: none;
   }
   .vocabulary__info-title:nth-child(2) a {
      border: none;
   }
   .vocabulary__info {
      flex-direction: column;
      text-align: center;
   }
   .vocabulary__info-title {
      border-top: 1px solid rgba(205, 204, 195, 0.56);
      border-bottom: 1px solid rgba(205, 204, 195, 0.56);
   }
   .block__slider {
      padding: 20px;
      max-width: 410px;
   }
}
@media (max-width: 578px) {
   .settings__text {
      font-size: 16px;
   }
   .settings__item {
      min-width: 332px;
      width: 100%;
      margin-bottom: 10px;
   }
   .settings__logout {
      margin-top: 30px;
   }
   .settings__set {
      font-size: 30px;
      padding-bottom: 10px;
   }
   .vocabulary__info-title a {
      width: 370px;
      font-size: 15px;
   }
   .vocabulary__info-title:nth-child(2) a {
      font-size: 15px;
   }
   .template-vocabulary__all {
      flex-direction: column;
   }
   .vocabulary__trening a {
      padding: 6px 10px;
   }
   .template-vocabulary__time {
      flex-direction: column;
   }
   .template-vocabulary__lasttime {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(205, 204, 195, 0.56);
   }
   .template-vocabulary__nexttime {
      padding-bottom: 5px;
      margin-bottom: 5px;
      border-bottom: 1px solid rgba(205, 204, 195, 0.56);
   }
   .vocabulary__about {
      font-size: 25px;
   }
   .vocabulary__trening a {
      padding: 6px 10px;
   }
   .vocabulary__title {
      flex-direction: column;
   }
   .template-vocabulary__body {
      margin-bottom: 50px;
   }
   .block__slider {
      padding: 20px;
      max-width: 360px;
   }
}
@media (max-width: 522px) {
   .statistics__graph {
      width: 310px;
      height: 156px;
   }
   .statistics {
      padding: 10px 17px;
   }
   .statistics__title {
      font-size: 25px;
      line-height: 23px;
   }
   .vocabulary__info-title a {
      width: 300px;
      font-size: 15px;
   }
   .vocabulary {
      max-height: 450px;
   }
   .settings {
      max-height: 450px;
   }
   .slider-b-body__sub {
      font-size: 16px;
      margin-bottom: 10px;
   }
   .slider-b-body__title {
      font-size: 20px;
   }
   .slider-b-body__title input {
      font-size: 20px;
      line-height: 20px;
   }
   .block__slider {
      padding: 20px;
      max-width: 320px;
   }
}
@media (max-width: 436px) {
   .settings {
      padding: 16px 20px;
   }
   .settings__item {
      min-width: 300px;
   }
   .block__slider {
      padding: 20px;
      max-width: 265px;
   }
   .lvl-block__item {
      font-size: 15px;
   }
   .slider-block .swiper-button-next,
   .swiper-container-rtl .swiper-button-prev {
      right: -28px;
      left: auto;
   }
   .slider-block .swiper-button-prev,
   .swiper-container-rtl .swiper-button-next {
      left: -28px;
      right: auto;
   }
}
@media (max-width: 358px) {
   .settings__item {
      min-width: 270px;
   }
   .settings__text {
      font-size: 15px;
   }
   .statistics__graph {
      width: 279px;
      height: 140px;
   }
   .vocabulary__info-title a {
      width: 250px;
      font-size: 15px;
   }
   .vocabulary {
      max-height: 450px;
   }
}
@media (max-height: 928px) {
   .nav-menu__item {
      margin-bottom: 30px;
   }
}
@media (max-height: 803px) {
   .nav-menu__item {
      margin-bottom: 30px;
   }
   .opportunities-menu__item:nth-child(1) {
      margin-bottom: 30px;
   }
   .opportunities-menu__item:nth-child(2) {
      margin-bottom: 30px;
   }
   .opportunities-menu__item:nth-child(3) {
      margin-bottom: 10px;
   }
   .opportunities-menu__item-open {
      padding: 10px 9px;
   }
   .nav-menu {
      margin-top: 17px;
   }
   .menu__logo {
      padding: 10px 9px 12px;
   }
}
@media (max-height: 592px) {
   .nav-menu__item {
      margin-bottom: 20px;
   }
   .opportunities-menu__item:nth-child(1) {
      margin-bottom: 15px;
   }
   .opportunities-menu__item:nth-child(2) {
      margin-bottom: 15px;
   }
   .nav-menu {
      margin-top: 10px;
   }
}
