@media (max-width: 1427px) {
  .slider-b-body__get span {
    font-size: 20px;
  }
  .slider-b-body__more {
    font-size: 20px;
  }
  .slider-b-body__title {
    font-size: 37px;
  }
  .slider-b-body__title input {
    font-size: 37px;
    line-height: 30px;
  }
}
@media (max-width: 1337px) {
  .statistics__graph {
    width: 811px;
    height: 411px;
  }
  .vocabulary__info-title a {
    // width: 250px;
  }
  .vocabulary__info-title a {
    padding: 7px 0px;
  }
}
@media (max-width: 1225px) {
  .slider-b-body__sub {
    font-size: 19px;
    margin-bottom: 30px;
  }
  .slider-b-body__title {
    font-size: 29px;
    line-height: 30px;
  }
  .slider-b-body__text {
    margin-bottom: 30px;
  }
  .slider-b-body__title input {
    font-size: 29px;
  }
  .slider-block__img {
    img {
      width: 100%;
    }
  }
}
@media (max-width: 1178px) {
  .statistics__graph {
    width: 648px;
    height: 328px;
  }
  .vocabulary__info-title a {
    width: 316px;
  }
  .vocabulary {
    max-height: 690px;
  }
}
@media (max-width: 1108px) {
  .vocabulary__info-title a {
    width: 100%;
  }
  .vocabulary__info-title:nth-child(2) a {
    border: none;
  }

  .vocabulary__template {
    max-height: 393px;
  }
  .vocabulary__info {
    flex-direction: column;
  }
}
@media (max-width: 998px) {
  .statistics__graph {
    width: 518px;
    height: 262px;
  }
  .statistics__graph {
    margin: 32px 0 0 0;
  }
  .slider-block__info {
    flex-direction: column;
  }
  .slider-block__img {
    text-align: center;
    img {
      width: 30%;
    }
  }
  .lvl-block {
    margin-top: 20px;
  }
  .bar-block {
    margin-top: 20px;
  }
}

@media (max-width: 900px) {
  .settings {
    margin-top: 70px;
  }
  .settings__logout a {
    width: 100%;
    padding: 10px 10px;
    text-align: center;
  }
  .settings__item {
    min-width: 432px;
    width: 100%;
  }
  .vocabulary__info-title a {
    font-size: 15px;
  }
  .vocabulary__trening {
    a {
      font-size: 15px;
      line-height: 20px;
      color: #000000;
      padding: 6px 21px;
      background: #f4f1e0;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: inline-block;
    }
  }
  .vocabulary__about {
    font-size: 30px;
  }
  .menu {
    width: 0px;
    overflow: hidden;
    &__extended {
      min-width: 187px;
    }
  }
  .menu__burger {
    display: block;
  }
  .menu__burger.BurgerLock {
    span {
      opacity: 0;
      transition: 0.3s;
    }
    &::before {
      bottom: 9px;
      transform: rotate(-45deg);
    }
    &::after {
      transform: rotate(45deg);
      top: 8px;
    }
  }

  .opportunities-menu__item-open {
    display: none;
  }
  .block {
    left: 50%;
  }
}
@media (max-width: 819px) {
  .slider-b-body__title {
    font-size: 25px;
    line-height: 20px;
  }
  .slider-b-body__title input {
    font-size: 25px;
  }
  .slider-b-body__sub {
    margin-bottom: 15px;
    font-size: 18px;
  }
  .slider-b-body__show {
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 10px;
  }
  .slider-b-body__text {
    margin-bottom: 15px;
  }
  .slider-b-body__get {
    margin-bottom: 10px;
    span {
      font-size: 18px;
    }
  }
  .slider-b-body__more {
    font-size: 18px;
  }
  .lvl-block__item {
    font-size: 14px;
  }
}
@media (max-width: 649px) {
  .statistics__graph {
    width: 414px;
    height: 209px;
  }
  .vocabulary__info-title a {
    width: 150px;
    font-size: 15px;
    border: none;
  }
  .vocabulary__info-title:nth-child(2) a {
    border: none;
  }
  .vocabulary__info {
    flex-direction: column;
    text-align: center;
  }
  .vocabulary__info-title {
    border-top: 1px solid rgba(205, 204, 195, 0.56);
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  }
}
@media (max-width: 578px) {
  .settings__text {
    font-size: 16px;
  }
  .settings__item {
    min-width: 332px;
    width: 100%;
    margin-bottom: 10px;
  }
  .settings__logout {
    margin-top: 30px;
  }
  .settings__set {
    font-size: 30px;
    padding-bottom: 10px;
  }
  .vocabulary__info-title a {
    width: 370px;
    font-size: 15px;
  }
  .vocabulary__info-title:nth-child(2) a {
    font-size: 15px;
  }
  .template-vocabulary__all {
    flex-direction: column;
  }
  .vocabulary__trening a {
    padding: 6px 10px;
  }
  .template-vocabulary__time {
    flex-direction: column;
  }
  .template-vocabulary__lasttime {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  }
  .template-vocabulary__nexttime {
    padding-bottom: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
  }
  .vocabulary__about {
    font-size: 25px;
  }
  .vocabulary__trening a {
    padding: 6px 10px;
  }
  .vocabulary__title {
    flex-direction: column;
  }
  .template-vocabulary__body {
    margin-bottom: 50px;
  }
}
@media (max-width: 522px) {
  .statistics__graph {
    width: 310px;
    height: 156px;
  }
  .statistics {
    padding: 10px 17px;
  }
  .statistics__title {
    font-size: 25px;
    line-height: 23px;
  }
  .vocabulary__info-title a {
    width: 300px;
    font-size: 15px;
  }
  .vocabulary {
    max-height: 450px;
  }
  // .settings {
  // max-height: 450px;
  // }
  .slider-b-body__sub {
    font-size: 16px;
    margin-bottom: 10px;
  }
  .slider-b-body__title {
    font-size: 20px;
  }
  .slider-b-body__title input {
    font-size: 20px;
    line-height: 20px;
  }
}
@media (max-width: 436px) {
  // .settings {
  //   padding: 16px 20px;
  // }
  .settings__item {
    min-width: 300px;
  }
  .lvl-block__item {
    font-size: 15px;
  }
  .slider-block .swiper-button-next,
  .swiper-container-rtl .swiper-button-prev {
    right: -28px;
    left: auto;
  }
  .slider-block .swiper-button-prev,
  .swiper-container-rtl .swiper-button-next {
    left: -28px;
    right: auto;
  }
}
@media (max-width: 358px) {
  .settings__item {
    min-width: 270px;
  }
  .settings__text {
    font-size: 15px;
  }
  .statistics__graph {
    width: 279px;
    height: 140px;
  }
  .vocabulary__info-title a {
    width: 250px;
    font-size: 15px;
  }
  .vocabulary {
    max-height: 450px;
  }
}
@media (max-height: 928px) {
  .nav-menu__item {
    margin-bottom: 30px;
  }
}
@media (max-height: 803px) {
  .nav-menu__item {
    margin-bottom: 30px;
  }
  .opportunities-menu__item:nth-child(1) {
    margin-bottom: 30px;
  }
  .opportunities-menu__item:nth-child(2) {
    margin-bottom: 30px;
  }
  .opportunities-menu__item:nth-child(3) {
    // margin-bottom: 10px;
  }
  .opportunities-menu__item-open {
    padding: 20px 9px;
  }
  .nav-menu {
    margin-top: 17px;
  }
  .menu__logo {
    padding: 10px 9px 12px;
  }
}
@media (max-height: 592px) {
  .nav-menu__item {
    margin-bottom: 20px;
  }
  .opportunities-menu__item:nth-child(1) {
    margin-bottom: 15px;
  }
  .opportunities-menu__item:nth-child(2) {
    margin-bottom: 15px;
  }
  .nav-menu {
    margin-top: 10px;
  }
}

@media (max-width: 1440px) {
  .swiper-wrapper {
    max-width: 790px;
  }
  .swiper-slide {
    width: 750px;
  }
  .slider-b-body__title {
    font-size: 35px;
    line-height: 39px;
    input {
      font-size: 35px;
      line-height: 39px;
      width: 120px;
    }
  }
  .slider-b-body__sub {
    font-size: 20px;
    line-height: 25px;
  }
  .slider-b-body__show {
    font-size: 19px;
    line-height: 24px;
  }
  .slider-b-body__example,
  .slider-b-body__text {
    font-size: 15px;
    line-height: 19px;
  }

  .slider-b-body__get span,
  .slider-b-body__more {
    font-size: 16px;
    line-height: 23px;
  }
}

@media (max-width: 950px) {
  .block-wrapper {
    width: 640px;
  }
  .swiper-slide {
    width: 600px;
  }
}

@media (max-width: 1075px) {
  .block-wrapper {
    width: 450px;
  }
  .swiper-slide {
    width: 410px;
  }
  .slider-block__img {
    margin-bottom: 30px;
    margin-right: 18px;
  }
  .menu__burger {
    position: absolute;
    top: 15px;
    left: 15px;

    &-open{
      left: 200px
    }
  }
  .custom-checkbox + label:before {
    width: 15px;
    height: 15px;
  }
  .swiper-container {
    margin-top: 45px;
  }
  .vocabulary {
    margin: 50px;
  }
}

@media (max-width: 768px) {
  .block {
    width: 100%;
  }
  .block-wrapper {
    width: 300px;
  }
  .swiper-slide {
    width: 260px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
    padding: 15px;
  }

  .swiper-wrapper {
    width: 300px;
  }
  .slider-block__complexity {
    margin-left: 0;
  }
  .slider-block__circle {
    width: 7px;
    height: 7px;
  }
  .slider-block__img {
    margin-bottom: 20px;
    margin-right: 0;
  }
  .slider-b-body__title {
    font-size: 16px;
  }

  .slider-b-body__title input {
    font-size: 16px;
    width: 63px;
    line-height: 18px;
  }

  .slider-b-body__sub {
    font-size: 14px;
    line-height: 15px;
  }

  .slider-b-body__show {
    font-size: 16px;
  }

  .slider-b-body__show img {
    width: 15px;
  }

  .slider-b-body__example {
    font-size: 15px;
  }

  .slider-b-body__text {
    font-size: 14px;
  }

  .slider-b-body__bottom {
    flex-direction: column;
    align-items: flex-start;
  }

  .slider-b-body__get {
    margin-bottom: 10px;
    font-size: 16px;
  }

  .slider-b-body__get span {
    font-size: 16px;
    line-height: 20px;
  }
  .slider-b-body__more {
    font-size: 16px;
    line-height: 20px;
  }
  .slider-block .swiper-button-next,
  .slider-block .swiper-button-prev {
    width: 9px;
    background-size: contain;
    right: 5px;
  }
  .slider-block .swiper-button-prev {
    left: 4px;
  }

  .bar-block,
  .lvl-block {
    margin: 20px 5px 0 5px;
  }
  .bar-block__numone,
  .bar-block__numtwo {
    font-size: 16px;
  }
  .settings__card {
    width: 280px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.25);
  }

  .settings__set {
    font-size: 20px;
    padding-bottom: 10px;
  }

  .settings__text {
    width: 170px;
  }

  .settings__item:first-child {
    flex-direction: column;
    align-items: flex-start;
  }

  .settings__mode {
    width: 100%;
  }

  .settings__item {
    // flex-direction: column;
    // align-items: flex-start;
    min-width: 200px;
  }
  .settings__text {
    font-size: 14px;
  }

  .settings__logout a {
    font-size: 16px;
    padding: 5px;
  }

  .vocabulary {
    max-height: 900px;
    padding: 20px;
  }

  .vocabulary__info-title:nth-child(2) {
    border: none;
  }

  .vocabulary__num {
    font-size: 18px;
  }

  .complexity__circle {
    width: 7px;
    height: 7px;
  }

  .template-vocabulary__word span {
    font-size: 15px;
  }

  .template-vocabulary__value span,
  .template-vocabulary__example span {
    font-size: 14px;
  }

  .template-vocabulary__body {
    margin-bottom: 20px;
  }
  .template-vocabulary__time {
    font-size: 16px;
  }
  .template-vocabulary__restore {
    font-size: 14px;
    line-height: 18px;
  }
  .template-vocabulary__image {
    margin-bottom: 33px;
  }
  .template-vocabulary__image img {
    width: 100%;
  }
  .template-vocabulary__lasttime,
  .template-vocabulary__nexttime {
    border-bottom: none;
  }
  .statistics {
    padding: 15px;
  }
}
