@import "utils/_libs";
@import "utils/_vars";
@import "utils/_mixins";
@import "utils/_fonts";
@import "utils/_media";
@import "header.scss";
@import "statistics.scss";
@import "abort-window.scss";
@import "prelaunch.scss";
@import "loader-data.scss";

* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

body {
  width: 100%;
  min-height: 100vh;
  font-size: 10px;
  background-image: linear-gradient(
    to top,
    rgb(214, 125, 255),
    rgb(211, 121, 253),
    rgb(207, 117, 250),
    rgb(204, 113, 248),
    rgb(201, 109, 246),
    rgb(198, 105, 244),
    rgb(194, 100, 241),
    rgb(191, 96, 239),
    rgb(188, 92, 237),
    rgb(185, 88, 235),
    rgb(181, 84, 232),
    rgb(178, 80, 230)
  );
  position: relative;
  transition: all 1s ease;
}
.wrapper {
  margin: 0 auto;
  max-width: 1290px;
  padding: 0 10px;
}

.main__wrapper {
  height: 100%;
  width: 100%;
}

.game-start {
  padding: 100px 0;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  &.inactive {
    display: none;
  }
  & .game-start__title {
    font-weight: 600;
    font-size: 6em;
    text-align: center;
  }

  & .game-start__description {
    font-size: 28px;
    margin-top: 40px;
    text-align: center;
  }
  & .game-start__start {
    outline: none;
    color: white;
    border: none;
    width: 290px;
    height: 60px;
    background: rgba(178, 80, 230, 0.671);
    border-radius: 8px;
    cursor: pointer;
    margin-top: 50px;
    font-size: 3.2em;
  }
}

.game {
  width: 100%;
  min-height: 600px;
  user-select: none;
  position: relative;
  overflow: hidden;
  &.inactive {
    display: none;
  }
  & .game__container {
    width: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    &.inactive {
      display: none;
    }
  }
  & .game__current {
    left: 0%;
    &.animation {
      animation: go-next 1s linear forwards;
    }
  }
  & .game__next {
    left: 100%;
    &.animation {
      animation: go-current 1s 0.2s linear forwards;
    }
  }

  & .game__description {
    height: 260px;
    flex-flow: wrap;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    width: 100%;
    &.game__description_question {
      & .game__photo {
        display: none;
      }
      & .game__wordsEnglish {
        display: none;
      }
      & .game__audio {
        display: flex;
      }
    }
    &.game__description_answer {
      & .game__photo,
      & .game__wordsEnglish {
        display: flex;
      }
      & .game__audio {
        display: flex;
        width: 60px;
        height: 60px;
      }
    }
    & .game__wordsEnglish {
      display: none;
      font-size: 4em;
      color: white;
      margin-left: 3%;
      max-width: 200px;
      justify-content: center;
      overflow: hidden;
    }
    & .game__photo {
      display: flex;
      margin: 0 auto;
      width: 100%;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      & img {
        border: 2px solid white;
        border-radius: 50%;
        width: 200px;
        height: 200px;
        object-fit: cover;
      }
    }

    & .game__audio {
      cursor: pointer;
      width: 120px;
      height: 120px;
      display: flex;
      justify-content: center;
      align-items: center;
      border-radius: 50%;
      padding: 10px;
      background-color: rgba(255, 255, 255, 0.281);

      & span {
        width: 50%;
        height: 50%;
        background-repeat: no-repeat;
        background-size: cover;
        background-image: url(../img/icon_audio_answer.svg);
      }
    }
  }

  & .game__btn-controller {
    width: 200px;
    height: 50px;
    margin-top: 60px;
    transition: all 0.3s ease;

    & button {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
      height: 100%;
      background: none;
      border-radius: 6px;
      border: 1px solid rgba(240, 240, 240, 0.548);
      color: rgba(255, 255, 255, 0.548);
      font-size: 2.2em;
      cursor: pointer;
      outline: none;
      &.inactive {
        display: none;
      }
      &.idk {
        padding-top: 5px;
      }
      &.arrow-next {
        font-size: 4em;
        font-weight: 100;
        padding-bottom: 3px;
      }
    }
    &:hover {
      transition: all 0.3s ease;
      background: hsla(0, 0%, 100%, 0.1);
    }
  }
}

@keyframes go-next {
  10% {
    left: 10%;
  }
  100% {
    left: -100%;
  }
}
@keyframes go-current {
  90% {
    left: -10%;
  }
  100% {
    left: 0%;
  }
}

.game__answers {
  display: flex;
  position: relative;
  z-index: 20;
  color: white;
  margin-top: 30px;
  max-width: 100%;
  flex-flow: wrap;
  justify-content: center;
}
.game__answer {
  word-wrap: break-word;
  position: relative;
  z-index: 21;
  color: white;
  font-size: 2.4em;
  border: none;
  background: none;
  cursor: pointer;
  max-width: 300px;
  margin: 0px 5px;
  padding: 10px 20px 13px 35px;
  transition: all 0.3s ease;
  display: flex;
  justify-content: center;
  align-items: center;
  outline: none;
  &:focus {
    outline: none;
  }
  &:hover {
    transition: all 0.3s ease;
    background: rgba(255, 255, 255, 0.1);
  }

  &.incorrect {
    text-decoration: line-through;
  }

  &.opacity {
    opacity: 0.5;
  }

  &::before {
    display: flex;
    align-items: center;
    padding-top: 4px;
    position: absolute;
    font-size: 0.8em;
    vertical-align: middle;
    left: 8px;
    opacity: 0.7;
    color: white;
  }
  &:nth-child(1)::before {
    content: "1";
  }
  &:nth-child(2)::before {
    content: "2";
  }
  &:nth-child(3)::before {
    content: "3";
  }
  &:nth-child(4)::before {
    content: "4";
  }
  &:nth-child(5)::before {
    content: "5";
  }

  &.correct {
    background-color: rgba(173, 216, 230, 0.274);
  }
  &.incorrect {
    background-color: lightcoral;
  }
  &.correct::before {
    content: "";
    background-image: url(../img/correct.svg);
    background-size: cover;
    width: 15px;
    height: 12px;
    font-weight: 400;
  }

  &.incorrect::before {
    content: "";
    background-image: url(../img/close.svg);
    background-size: cover;
    width: 15px;
    height: 12px;
  }
}
.progress-game {
  top: 0px;
  left: 0px;
  position: absolute;
  height: 4px;
  width: 3%;
  transition: all 0.2s linear;
  background: white;
  &.inactive {
    display: none;
  }
}

// @media screen and (max-width: 768px) {
//   body {
//     font-size: 6px;
//   }
//   .controllers .icon {
//     width: 30px;
//     height: 30px;
//   }
//   .controllers .controllers__right .options__settings {
//     width: 200px;
//     height: 140px;
//     top: 50px;
//     right: -26.5px;
//   }
// }

@media screen and (max-width: 768px) {
  body {
    font-size: 6px;
  }
  .controllers .icon {
    width: 30px;
    height: 30px;
  }
  .controllers .controllers__right .options__settings {
    width: 200px;
    height: 140px;
    top: 50px;
    right: -26.5px;
  }
  .game {
    justify-content: space-between;
    & .game__answers {
      display: flex;
      flex-direction: column;
    }
    & .game__btn-controller {
      margin-top: 10px;
    }
  }
  .game .controllers .controllers__left {
    width: 15%;
  }
  .controllers .controllers__right {
    width: 85%;
  }
  .finish-statistics__controls-button {
    flex-direction: column;
    & .finish-training {
      margin-top: 10px;
    }
  }
}
