.buttons-panel {
    display: flex;
    flex-direction: column;
    padding: 1rem 2rem 0;
    border-radius: 5px;
  }
  
  .help-btn {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    @media (max-width: 437px) {
      justify-content: center;
    }
    .exit__btn {
      display: flex;
      align-content: center;
    }
    .exit__btn svg {
      width: 55px;
      fill: #c6e2ff;
      transition: all .25s;

      &:hover {
        fill: #ffffff;
      }
    }
  }
  
  .trans {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    @media (max-width: 437px) {
      justify-content: center;
  }
  }

  #transcript {
    cursor: pointer;
    transition: all .25s;
    &:hover {
        box-shadow: 0 0 15px #9dd0ff, 0 0 17px #5b8bb2;
    }
  }

  .help-btn span {
    margin-right: 20px;
    cursor: pointer;
  }
  
  .jello-horizontal:hover {
    -webkit-animation: jello-horizontal 0.9s both;
    animation: jello-horizontal 0.9s both;
  }
  
  @-webkit-keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  @keyframes jello-horizontal {
    0% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  
    30% {
      -webkit-transform: scale3d(1.25, 0.75, 1);
      transform: scale3d(1.25, 0.75, 1);
    }
  
    40% {
      -webkit-transform: scale3d(0.75, 1.25, 1);
      transform: scale3d(0.75, 1.25, 1);
    }
  
    50% {
      -webkit-transform: scale3d(1.15, 0.85, 1);
      transform: scale3d(1.15, 0.85, 1);
    }
  
    65% {
      -webkit-transform: scale3d(0.95, 1.05, 1);
      transform: scale3d(0.95, 1.05, 1);
    }
  
    75% {
      -webkit-transform: scale3d(1.05, 0.95, 1);
      transform: scale3d(1.05, 0.95, 1);
    }
  
    100% {
      -webkit-transform: scale3d(1, 1, 1);
      transform: scale3d(1, 1, 1);
    }
  }
  
  .play {
    width: 40px;
    fill: #71b6e2;
    transition: all .25s;
  
    &:hover {
      fill: #7ecdff;
    }
  
    &:active {
      fill: #a3dcff;
    }
  }
  
  .svg-active {
    transform: scale(1.5);
  }
  
  .translate {
    width: 25px;
    fill: $color-orange;
    transition: all .25s;
  
    &:hover {
      fill: #ffb549;
    }
  
    &:active {
      fill: #ffd89d;
    }
  }
  
  .sound {
    width: 33px;
    fill: #e26464;
    transition: all .25s;
  
    &:hover {
      fill: #ff6666;
    }
  
    &:active {
      fill: #ff9898;
    }
  }
  
  .watch {
    width: 40px;
  }
  
  .translation {
    color: $color-light-base;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin: 1rem 0 0;

    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }
  
  .data-translate {
    display: flex;
    width: 100%;
    justify-content: center;
    text-align: center;
    border: 2px solid #6cafd9;
    border-radius: 5px;
    padding: 2rem 0 2rem;
    background: #6cafd9c2;
  }
  
  .transcript {
    background: #d966667a;
    padding: 0 15px;
    border: 2px solid #d96666d1;
    border-radius: 5px;
    min-height: 50px;
    font-size: 1.5rem;
    display: flex;
    color: $color-light-base;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin: .5rem .5rem 0 0;

    @media (max-width: 500px) {
      font-size: 1rem;
      min-height: 30px;
    }
  }

  .inner-translation {
    display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 135px;
    padding: 0 2rem;
    border-radius: 5px;
  }

  
  .english-translate {
    display: flex;
    visibility: hidden;
    justify-content: center;
    text-align: center;

    color: $color-light-base;
    flex-direction: column;
    align-items: center;
    font-size: 2rem;
    margin: 0rem 0 0;

    @media (max-width: 500px) {
      font-size: 1rem;
    }
  }
  
  .tracking-in-expand-fwd {
    visibility: unset;
    -webkit-animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
    animation: tracking-in-expand-fwd 0.8s cubic-bezier(0.215, 0.61, 0.355, 1) both;
  }
  
  @-webkit-keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }
  
  @keyframes tracking-in-expand-fwd {
    0% {
      letter-spacing: -0.5em;
      -webkit-transform: translateZ(-700px);
      transform: translateZ(-700px);
      opacity: 0;
    }
  
    40% {
      opacity: 0.6;
    }
  
    100% {
      -webkit-transform: translateZ(0);
      transform: translateZ(0);
      opacity: 1;
    }
  }

  .tracking-in-expand {
    -webkit-animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
            animation: tracking-in-expand 1s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  }

  @-webkit-keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  @keyframes tracking-in-expand {
    0% {
      letter-spacing: -0.5em;
      opacity: 0;
    }
    40% {
      opacity: 0.6;
    }
    100% {
      opacity: 1;
    }
  }
  