$white:#fff;
$primary:#4575dc;    
$pictogram-color: desaturate($primary, 20%);


.loader__box {
    position: fixed;
    background: linear-gradient(rgba(8, 15, 26, 1.19) 5%,
    rgba(17, 17, 46, .66) 100%) center center / cover fixed, url(/assets/img/puzzle/loader.svg);
    background-color: #0d1320;
    background-position: center;
    z-index: 31;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    transition: all 1s;
}

.pictogram {
    display: block;
    width: 200px;
    height: 200px;
}
.pictogram__fill-1 { fill: $pictogram-color; }
.pictogram__fill-2 { fill: lighten($pictogram-color, 10%); }
.pictogram__fill-3 { fill: lighten($pictogram-color, 25%); }
.pictogram__fill-4 { fill: lighten($pictogram-color, 38%); }
.pictogram__fill-5 { fill: $white; }

.loaders {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.svg-loader3 {
  .smoke {
    transform-origin: center bottom;
    animation: 0.8s smoke ease-in-out infinite;
  }
}

@keyframes smoke {
  0%    { transform: scale(1.1); }
  50%   { transform: scale(0.8); }
  100%  { transform: scale(1.1); }
}


