.progress__box {
    display: flex;
    position: absolute;
    width: inherit;
    justify-content: center;
    top: 30px;
    @media (max-width: 510px) {
      justify-content: flex-end;
  }
}

.progress {
    background: rgba(255, 255, 255, 0.1);
    justify-content: flex-start;
    border-radius: 100px;
    align-items: center;
    position: relative;
    padding: 0 5px;
    display: flex;
    height: 16px;
    width: 30%;
  }
  
  .progress-value {
    box-shadow: 0 10px 40px -10px $color-light-base;
    border-radius: 100px;
    background: rgba(108, 189, 255, 0.98);
    height: 12px;
    width: 0px;
    transition: all .25s;
  }

  .numbers {
    font-size: 1rem;
    margin: 0 1rem;
    color: #c6e2ff;
    animation: neon .08s ease-in-out infinite alternate;
  }