
  .start-wrapper {
    position: absolute;
    z-index: 27;
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    padding: 4rem;
    width: 100%;
    min-height: 100vh;
    font-size: 10px;
    background: url(/assets/img/start-page.svg);
    background-position-y: 100%;
    background-position-x: center;
    background-repeat: no-repeat;
    background-size: cover;
    transition: all 1s ease;
    @media (max-width: 550px) {
      padding: 2rem;
    }
}

.controllers {
    height: 100%;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    display: flex;
  
    .icon {
      width: 40px;
      height: 40px;
      cursor: pointer;
      background-repeat: no-repeat;
      background-size: cover;
    }
    .icon.icon_inactive {
      display: none;
    }
  
    & .controllers__left {
      display: flex;
      & .audio {
        background-image: url(/assets/img/speaker.svg);
        &:hover {
          animation: close 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
      }
      & .audio_silence {
        background-image: url(/assets/img/silence.svg);
      }
    }
  
    & .controllers__right {
      display: flex;
      justify-content: flex-end;
      & > .icon {
        margin-left: 15px;
      }
      & .close {
        background-image: url(/assets/img/close.svg);
        width: 28px;
        height: 28px;
        align-self: center;
        &:hover {
          animation: close 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
        @media (max-width: 480px) {
          width: 23px;
          height: 23px;
        }
      }
      & .options {
        background-image: url(/assets/img/option.svg);
        position: relative;
        display: flex;
        &:hover {
          animation: close 0.4s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
        }
      }

      & .closed-settings {
        display: none;
      }
      & .options__settings {
        cursor: default;
        top: 80px;
        right: -16.5px;
        background: white;
        position: absolute;
        width: 300px;
        height: 180px;
        border-radius: 18px;
        color: black;
        padding: 20px;
        font-size: 2.2em;
        transition: all .25s;
  
        &:before {
          content: " ";
          position: absolute;
          width: 0;
          height: 0;
          right: 16px;
          top: -4px;
          border: 25px solid;
          border-color: white transparent transparent white;
          transform: rotate(44deg);
        }
        &.options__settings_inactive {
          display: none;
        }
        & .options__levels-title {
          margin-top: 20px;
        }
        & .options__levels {
          margin-top: 5px;
          & select {
            cursor: pointer;
            width: 70px;
            border: 1px solid black;
            border-radius: 2px;
            &:focus {
              outline: none;
            }
          }
        }
  
        & .options__difficulties {
          margin-top: 5px;
        }
  
        & .stars {
          width: 55%;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          & .star svg {
            cursor: pointer;
            width: 20px;
            height: 20px;
          }
        }
      }

      & .message-settings-closed {
        display: none;
      }
    }
  }

  .game-start {
    margin-top: 6rem;
    padding: 5rem 0;
    align-self: center;
    max-width: 1280px;
    color: #ffffffeb;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgba(59, 40, 60, 0.52);
    border-radius: 20px;
    @media (max-width: 800px) {
      margin-top: 3rem;
    }
    @media (max-width: 550px) {
      margin-top: 2rem;
      padding: 2rem .5rem;
    }

    & .game-start__title {
      font-weight: 600;
      font-size: 5em;
      text-align: center;
      @media (max-width: 800px) {
        font-size: 4em;
      }
      @media (max-width: 550px) {
        font-size: 3em;
      }
      @media (max-width: 460px) {
        font-size: 2em;
      }
    }
  
    & .game-start__description {
      font-size: 21px;
      line-height: 29px;
      margin-top: 40px;
      text-align: center;
      padding: 0 5rem;
      @media (max-width: 850px) {
        font-size: 3vw;
      }
      @media (max-width: 800px) {
        line-height: 23px;
      }
      @media (max-width: 550px) {
        line-height: 20px;
        margin-top: 15px;
      }
      @media (max-width: 460px) {
        line-height: 18px;
        padding: 0 2rem;
      }
    }
    & .game-start__start {
      color: white;
      border: none;
      width: 290px;
      outline: none;
      height: 60px;
      background: #ff7802ab;
      border-radius: 8px;
      cursor: pointer;
      margin-top: 50px;
      font-size: 3.2em;
      transition: all .25s;
      &:hover {
        background: #ff7802d6;
        animation: shake-bottom 0.8s cubic-bezier(0.455, 0.030, 0.515, 0.955) both;
      }
      @media (max-width: 800px) {
        width: 210px;
        height: 50px;
        margin-top: 20px;
        font-size: 2.2em;
      }
      @media (max-width: 500px) {
        width: 90px;
        height: 40px;
        font-size: 1.2em;
      }
    }
  }
  
  @media screen and (max-width: 768px) {
    body {
      font-size: 6px;
    }
    .controllers .icon {
      width: 30px;
      height: 30px;
    }
    .controllers .controllers__right .options__settings {
      width: 200px;
      height: 140px;
      top: 50px;
      right: -26.5px;
    }
  }

  .scale-in-center {
    -webkit-animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
            animation: scale-in-center 0.5s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
  }
  @-webkit-keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }
  @keyframes scale-in-center {
    0% {
      -webkit-transform: scale(0);
              transform: scale(0);
      opacity: 1;
    }
    100% {
      -webkit-transform: scale(1);
              transform: scale(1);
      opacity: 1;
    }
  }

  @-webkit-keyframes close {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  @keyframes close {
    0% {
      -webkit-transform: rotateX(0);
              transform: rotateX(0);
    }
    100% {
      -webkit-transform: rotateX(-180deg);
              transform: rotateX(-180deg);
    }
  }
  
  @-webkit-keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  @keyframes shake-bottom {
    0%,
    100% {
      -webkit-transform: rotate(0deg);
              transform: rotate(0deg);
      -webkit-transform-origin: 50% 100%;
              transform-origin: 50% 100%;
    }
    10% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
    20%,
    40%,
    60% {
      -webkit-transform: rotate(-4deg);
              transform: rotate(-4deg);
    }
    30%,
    50%,
    70% {
      -webkit-transform: rotate(4deg);
              transform: rotate(4deg);
    }
    80% {
      -webkit-transform: rotate(-2deg);
              transform: rotate(-2deg);
    }
    90% {
      -webkit-transform: rotate(2deg);
              transform: rotate(2deg);
    }
  }
  
  
  