.page-main {
  & {
    min-height: inherit;
    min-width: inherit;
    height: 100%;
    width: 100%;
  }

  &__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px 0;
    min-height: inherit;
    min-width: inherit;

    background-image:
      repeating-linear-gradient(-45deg, white, white 80px, #ffecef 80px,#ffecef 160px);
  }

  %sections-margins {
    margin-bottom: 20px;
  }

  &__score {
    & {
      @extend %sections-margins;
    }
  }

  &__current-word-container {
    & {
      @extend %sections-margins;
    }
  }

  &__words-container {
    & {
      @extend %sections-margins;
    }
  }
}

.score {
  & {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    font-size: 5em;
  }

  &__title {
    font-size: 0.5em;
  }

  &__total {
    font-size: 2em;
  }
}

.current-word-container {
  &__image-container {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 20px;
  }

  &__image {
    @include for-small-phone { width: 90%; }
    @include for-tablet { width: 80%; }
    @include for-desktop { width: 60%; }
    @include for-big-desktop { width: 50%; }

    box-shadow: 0 0 5px 0px black;
    border-radius: 10px;
    transition: width 0.5s ease-out;
  }

  &__translation {
    text-align: center;
    font-size: 2em;
  }
}

.words-container {
  & {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    
    font-size: 2em;
  }

  &__icon {
    align-self: center;
    width: 25px;
    height: 25px;
    margin-right: 10px;

    background-image: url("/assets/img/speakit/audio_pink.png");
    background-position: center;
    background-size: cover;
  }

  &__card {
    & {
      display: flex;
      padding: 10px 20px;
  
      border-radius: 5px;
      border: 1px solid black;
  
      cursor: pointer;
      opacity: 1;
      transition: opacity 2s ease-out;
    }

    &_hidden {
      opacity: 0;
    }
    
    &_active {
      background-color: rgba(0, 0, 0, 0.25);
    }

    &_answer {
      %pointer-events-off {
        pointer-events: none;
      }

      &_correct {
        @extend %pointer-events-off;
        background-color: #90ee90;
      }

      &_wrong {
        @extend %pointer-events-off;
        background-color: #eb5f5f;
      }
    }
  }

  &__card:hover {
    box-shadow: 0px 0px 5px 0px black;
  }

  &__word-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.controls {
  & {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    @include for-small-phone { flex-direction: column; }
    @include for-phone { flex-direction: row; }
  }

  &__button {
    & {
      @include for-small-phone {
        & {
          padding: 10px;
          margin-bottom: 10px;
          width: 200px;
        }

        &:last-child {
          margin-bottom: initial;
        }
      }
      @include for-phone {
        & {
          padding: 10px 20px;
          margin-bottom: initial;
          width: initial;
        }
      }
  
      border: none;
      border-radius: 5px;
  
      font-size: 2em;
      font-weight: 300;
      text-transform: uppercase;
      color: black;

      background-color: lightcoral;
  
      cursor: pointer;
      transition: color 0.25s ease-out, transform 0.25s ease-out;
    }

    &:hover {
      box-shadow: 0px 0px 5px -1px black;
    }

    &:active {
      transform: scale(1.05);
    }

    &_disabled {
      background-color: lightgrey;
      pointer-events: none;
    }
  }

  &__speak-button {
    & {
      @include for-tablet { padding: 10px 50px; }
    }
  }
}
