.statistics {
  &__title {
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    border-bottom: 1px solid rgba($lightGrey, 0.56);
    padding-bottom: 13px;
  }

  &__graph {
    position: relative;
    width: 1014px;
    height: 514px;
    background-color: $grey;
    margin: 32px 0px 40px 0px;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 35px;
    line-height: 43px;
    color: #000000;
  }
}