@import "utils/_null";
@import "utils/_fonts";

.flex {
  display: flex;
}

.d-none {
  display: none;
}

body {
  min-height: 100vh;
}

body,
select,
option {
  font-family: "Montserrat", sans-serif;
}

main {
  height: 100%;
  min-height: 100vh;
}

.wrapper {
  background: #f2e9bc;
  // position: absolute;
  width: 100%;
  // height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu {
  width: 67px;
  // height: 100%;
  background-color: #f4f1e0;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &__burger {
    display: none;
    width: 30px;
    height: 20px;
    z-index: 20;
    cursor: pointer;
    span {
      width: 100%;
      height: 2px;
      background-color: #000000;
      position: absolute;
      top: 9px;
    }
    &::after {
      top: 0;
    }
    &::before {
      bottom: 0;
    }
    &::after,
    &::before {
      content: "";
      transition: 0.3s;
      background-color: #000000;
      width: 100%;
      height: 2px;
      position: absolute;
    }
  }

  &__logo {
    display: flex;
    align-items: center;
    padding: 13px 9px 19px;
    border-bottom: 1px solid rgba(205, 204, 195, 0.27);
    margin: 0 8px;
  }

  &__tеxtlogo {
    font-style: normal;
    font-weight: 600;
    font-size: 20.6px;
    line-height: 25px;
    margin-left: 22px;
    display: none;
    a {
      color: #1d2570;
    }
  }
}
.nav-menu {
  margin-top: 37px;
  &__image {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-bottom: 44px;
    margin-left: 16px;
    &:hover {
      opacity: 0.7;
    }
  }

  &__about {
    margin-left: 22px;
    font-size: 13.6px;
    line-height: 17px;
    display: none;
    a {
      color: #000000;
    }
  }
}
.opportunities-menu {
  &__image {
    width: 35px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
  }
  &__item {
    display: flex;
    align-items: center;
    margin-left: 16px;
    &:nth-child(1) {
      margin-bottom: 44px;
    }
    &:nth-child(2) {
      margin-bottom: 44px;
    }
    &:nth-child(3) {
      margin-bottom: 17px;
    }
    &:nth-child(3):hover {
      margin-bottom: 17px;
      img {
        animation: rotateSettings 3s Linear infinite;
      }
    }
  }
  &__item-off {
    display: none;
  }

  &__about {
    margin-left: 22px;
    font-size: 13.6px;
    line-height: 17px;
    display: none;
    a {
      color: #000000;
    }
  }

  &__item-open {
    padding: 25px 9px;
    border-top: 1px solid rgba(205, 204, 195, 0.27);
    margin: 0 8px;
  }
}
@keyframes rotateSettings {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.openArrow {
  transition: 0.3s;
  transform: rotate(180deg);
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  &__slider {
    position: relative;
  }
}

.swiper-wrapper {
  max-width: 1088px;
}

.swiper-slide {
  width: 1048px;
  position: initial;
}
.slider-block {
  &__complexity {
    margin-left: 17px;
    margin-bottom: 26px;
  }

  &__circle {
    width: 10px;
    height: 10px;
    display: inline-block;
    background-color: #c4c4c4;
    border-radius: 50%;
    &:nth-child(1) {
      background-color: #ff934d;
    }
  }

  &__info {
    display: flex;
  }

  &__img {
    margin-right: 18px;
  }

  &__body {
  }
}
.slider-b-body {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  &__top {
  }

  &__title {
    font-size: 43px;
    line-height: 52px;
    color: #000000;
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
    padding-bottom: 11px;
    margin-bottom: 11px;
    input {
      font-size: 43px;
      line-height: 52px;
      color: rgba(0, 0, 0, 0.23);
      max-width: 150px;
      border: none;
      background: #c4c4c4;
      border-radius: 3px;
      padding: 0px 9px 6px 8px;
    }
  }

  &__sub {
    font-size: 23px;
    line-height: 28px;
    color: #6776ac;
  }

  &__goshow {
    max-height: auto;
    overflow: hidden;
    transition: 0.5s;
  }

  &__show {
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    margin-bottom: 13px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    img {
      cursor: pointer;
    }
    picture {
      height: 10px;
    }
  }

  &__example {
    font-size: 17px;
    line-height: 21px;
    color: #000000;
    margin-bottom: 8px;
  }

  &__text {
    font-size: 17px;
    line-height: 21px;
    color: #6776ac;
  }

  &__bottom {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }

  &__get {
    display: flex;
    align-items: flex-end;
    span {
      font-size: 23px;
      line-height: 28px;
      color: #000000;
      margin-bottom: -5px;
      margin-right: 15px;
    }
  }

  &__more {
    font-size: 23px;
    line-height: 28px;
    color: #000000;
  }
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  flex-shrink: 0;
  flex-grow: 0;
  border: 1px solid #000000;
  border-radius: 0.25em;
  margin-right: 0.5em;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: 50% 50%;
}
.custom-checkbox:checked + label::before {
  border-color: #0b76ef;
  background-color: #0b76ef;
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
}
.lvl-block {
  background: #fefefe;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.15);
  border-radius: 5px;
  display: flex;
  justify-content: space-between;
  max-width: 1048px;
  margin: 0 auto;
  margin-top: 41px;
  &__item {
    cursor: pointer;
    flex: 1 1 25%;
    font-size: 23px;
    line-height: 28px;
    color: #000000;
    text-align: center;
    padding: 5px 0;
    &:not(:last-child) {
      border-right: 1px solid #000000;
    }
    &:hover {
      background: rgba(205, 204, 195, 0.56);
    }
  }
}

.bar-block {
  display: flex;
  align-items: center;
  // max-width: 1048px;
  // margin: 0 auto;
  margin-top: 55px;
  &__numone,
  &__numtwo {
    width: 12px;
  }

  &__numone {
    font-weight: 500;
    font-size: 20.6px;
    line-height: 25px;
    color: #000000;
  }

  &__line {
    height: 10px;
    width: 100%;
    background-color: #c4bd98;
    border-radius: 20px;
    position: relative;
    margin: 0 9px;
  }
  &__linebar {
    width: 20%;
    height: 100%;
    background-color: #53588c;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 20px;
  }
  &__numtwo {
    font-weight: 500;
    font-size: 20.6px;
    line-height: 25px;
    color: #000000;
  }
}

.slider-block .swiper-button-prev {
  background-image: url("../img/prev.png");
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 56%;
  transform: translateY(-100%);
}
.slider-block .swiper-button-next {
  background-image: url("../img/next.png");
  height: 50px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  top: 56%;
  transform: translateY(-100%);
}

.swiper-slide {
  margin: 20px 20px;
}

.swiper-button-next::after,
.swiper-button-prev::after {
  display: none;
}

.slider-block .swiper-button-prev,
.swiper-container-rtl .swiper-button-next {
  left: -48px;
  right: auto;
}

.slider-block .swiper-button-next,
.swiper-container-rtl .swiper-button-prev {
  right: -48px;
  left: auto;
}

.slider-block .swiper-button-disabled {
  display: none;
}
.swiper-container {
  // margin-top: 145px;
}

// settings----------------------------------------------------------------------------
.settings {
  color: #000000;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  // padding: 26px 37px;

  &__card {
    width: 600px;
  }

  &__mode {
    border: 1px solid #c4c4c4;
    font-size: 14px;
    height: 29px;
    padding: 0 5px;
    option {
      height: 29px;
    }
  }
  &__set {
    font-size: 35px;
    line-height: 43px;
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
    padding-bottom: 16px;
    margin-bottom: 19px;
  }

  &__item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 18px;
    .settings__custoncheckbox {
      margin-right: -5px;
    }
  }

  &__text {
    font-size: 21px;
    line-height: 26px;
  }
  &__square-big {
    font-size: 21px;
    line-height: 26px;
    text-align: center;
    width: 52px;
    height: 29px;
    background: #ffffff;
    border: 1px solid #c4c4c4;
    box-sizing: border-box;
  }
  &__square {
    border: 1px solid #000000;
    border-radius: 3px;
    height: 20px;
    width: 20px;
    margin-left: 53px;
  }

  &__logout {
    margin-top: 50px;
    a {
      width: 100%;
      padding: 10px;
      text-align: center;
      font-size: 21px;
      line-height: 26px;
      color: #000000;
      background: #f4f1e0;
      box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
      border-radius: 5px;
      display: inline-block;
    }
  }
}
// settings----------------------------------------------------------------------/////////////
// vocabulary----------------------------------------------------------------------/////////////
/* хром, сафари */
.vocabulary__template::-webkit-scrollbar-thumb {
  border-radius: 5px;
  background-color:#c4c4c4;
}

.vocabulary__template::-webkit-scrollbar{
  width: 8px;
}

/* ie 10+ */
// .vocabulary {
//   -ms-overflow-style: none;
// }

/* фф (свойство больше не работает, других способов тоже нет)*/
.vocabulary {
  overflow: -moz-scrollbars-none;
}
.vocabulary {
  color: #000000;
  // padding: 30px;
  &__title {
    display: flex;
    justify-content: space-between;
  }

  &__about {
    font-size: 35px;
    line-height: 43px;
  }

  // &__trening {
  //   a {
  //     font-size: 18px;
  //     line-height: 22px;
  //     color: #000000;
  //     padding: 12px 41px;
  //     background: #f4f1e0;
  //     box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.25);
  //     border-radius: 5px;
  //     display: inline-block;
  //   }
  // }

  &__info {
    display: flex;
    justify-content: space-between;
    margin: 17px 0;
  }

  &__info-title {
    a {
      font-size: 21px;
      line-height: 26px;
      color: #000000;
      padding: 7px 71px;
      display: inline-block;
      width: 338px;
      border-top: 1px solid rgba(205, 204, 195, 0.56);
      border-bottom: 1px solid rgba(205, 204, 195, 0.56);
      text-align: center;
    }
    &:nth-child(2) {
      a {
        border: 1px solid rgba(205, 204, 195, 0.56);
      }
    }
    &:hover {
      background-color: rgba(205, 204, 195, 0.56);
    }
  }

  &__num {
    font-size: 21px;
    line-height: 26px;
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
    padding-bottom: 9px;
    margin-bottom: 16px;
  }

  &__template {
    max-height: 490px;
    overflow: auto;
  }
}
.template-vocabulary {
  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__lvl {
  }

  &__restore {
    display: none;
    a {
      font-weight: 300;
      font-size: 18px;
      line-height: 22px;
      text-decoration-line: underline;
      color: #000000;
    }
  }

  &__info {
    margin-bottom: 16px;
  }

  &__word {
    display: flex;
    align-items: center;
    span {
      margin-right: 10px;
      font-size: 20px;
      line-height: 24px;
    }
  }

  &__example {
    margin-top: 15px;
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    span:nth-child(2) {
      color: #6776ac;
    }
  }

  &__value {
    font-weight: 300;
    font-size: 18px;
    line-height: 22px;
    margin-bottom: 8px;

    span:nth-child(2) {
      color: #6776ac;
    }
  }

  &__time {
    display: flex;
    font-size: 18px;
    line-height: 22px;
    div {
      margin-right: 20px;
    }
  }
  &__all {
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    margin-right: 20px;
  }
  &__body {
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
    display: flex;
    justify-content: space-between;
    margin-top: 12px;
    flex-direction: column;
  }
  &__lasttime {
  }

  &__nexttime {
  }

  &__num {
  }

  &__image {
  }
}

.block {
  &__lvl {
  }
}
.lvl-block {
  &__item {
  }
}
// vocabulary----------------------------------------------------------------------/////////////
// complexity----------------------------------------------------------------------

.complexity {
  display: flex;
  &__circle {
    width: 10px;
    height: 10px;
    background: #c4c4c4;
    margin-right: 5px;
    border-radius: 50%;
    &:nth-child(1) {
      background: #ff934d;
    }
  }
}

.statistics {
  &__title {
    font-size: 35px;
    line-height: 43px;
    color: #000000;
    border-bottom: 1px solid rgba(205, 204, 195, 0.56);
    padding-bottom: 13px;
  }

  &__graph {
    position: relative;
    width: 1014px;
    height: 514px;
    background-color: #c4c4c4;
    margin: 32px 0px 40px 0px;
  }
  &__text {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    text-align: center;
    transform: translate(-50%, -50%);
    font-size: 35px;
    line-height: 43px;
    color: #000000;
  }
}
// statistics----------------------------------------------------------------------/////////////

.card {
  background: #fefefe;
  box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.25);
  border-radius: 21px;
  padding: 26px;
}

@import "utils/_media";
