@import "utils/_libs";
@import "utils/_vars";
@import "utils/_mixins";
@import "utils/_fonts";
@import "utils/_media";
@import "_sidebar";
@import "cardsWord/_cardWord";


html {
  font-size: 10px
}

*, *:before, *:after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 1440px;
  margin: auto;
  background-color: $background-color;
}