.nav-but-wrap {
    position: relative;
    display: inline-block;
    float: left;
    padding-left: 15px;
    padding-top: 15px;
    margin-top: 26px;
    transition: all 0.3s ease-out;
  }
  
  .menu-icon {
    height: 30px;
    width: 30px;
    position: relative;
    z-index: 2;
    cursor: pointer;
    display: block;
  }
  
  .menu-icon__line {
    height: 2px;
    width: 30px;
    display: block;
    background-color: #fff;
    margin-bottom: 7px;
    cursor: pointer;
    -webkit-transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: background-color .5s ease, -webkit-transform .2s ease;
    transition: transform .2s ease, background-color .5s ease;
    transition: transform .2s ease, background-color .5s ease, -webkit-transform .2s ease;
  }
  
  .menu-icon__line-left {
    width: 16.5px;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .menu-icon__line-right {
    width: 16.5px;
    float: right;
    -webkit-transition: all 200ms linear;
    -moz-transition: all 200ms linear;
    -o-transition: all 200ms linear;
    -ms-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  
  .menu-icon:hover {
    .menu-icon__line-left, .menu-icon__line-right {
      width: 30px;
    }
  }
  
  .nav {
    position: fixed;
    z-index: 98;
  
    &:before {
      content: "";
      position: fixed;
      top: 20px;
      left: 50px;
      width: 0;
      height: 0;
      background-color: rgba(20, 21, 26, 0.6);
      border-bottom-right-radius: 200%;
      z-index: -1;
      transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
    }
  
    &:after {
      content: "";
      position: fixed;
      top: 20px;
      left: 50px;
      width: 0;
      height: 0;
      background-color: rgba(20, 21, 26, 0.6);
      border-bottom-right-radius: 200%;
      z-index: -1;
      transition: border-radius linear 0.8s, width cubic-bezier(0.77, 0, 0.175, 1) 0.6s, height cubic-bezier(0.77, 0, 0.175, 1) 0.6s;
      background-color: rgba(9, 9, 12, 1);
      background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
      background-position: bottom center;
      background-repeat: no-repeat;
      background-size: 300%;
      -webkit-transition-delay: 0s;
      transition-delay: 0s;
      box-shadow: 6px 7px 28px 0 rgba(16, 16, 16, 0.3);
    }
  
    &:before {
      -webkit-transition-delay: .2s;
      transition-delay: .2s;
    }
  }
  
  .nav__content {
    position: fixed;
    visibility: hidden;
    top: 90px;
    left: 50px;
    width: 280px;
    text-align: left;
  }
  
  .nav__list {
    position: relative;
    padding: 0;
    margin: 0;
    z-index: 2;
  }
  
  .nav__list-item {
    position: relative;
    display: block;
    -webkit-transition-delay: 0.8s;
    transition-delay: 0.8s;
    opacity: 0;
    text-align: left;
    color: #fff;
    overflow: hidden;
    font-family: 'Poppins', sans-serif;
    font-size: 22px;
    line-height: 1.2;
    letter-spacing: 2px;
    -webkit-transform: translate(30px, 0%);
    transform: translate(30px, 0%);
    -webkit-transition: opacity .2s ease, -webkit-transform .3s ease;
    transition: opacity .2s ease, -webkit-transform .2s ease;
    transition: opacity .2s ease, transform .2s ease;
    transition: opacity .2s ease, transform .2s ease, -webkit-transform .2s ease;
    margin-top: 7px;
    margin-bottom: 7px;
  
    a {
      position: relative;
      text-decoration: none;
      color: rgba(255, 255, 255, 0.6);
      overflow: hidden;
      cursor: pointer;
      font-family: 'Poppins', sans-serif;
      font-weight: 600;
      z-index: 2;
      padding-left: 40px;
      padding-top: 5px;
      padding-bottom: 5px;
      display: inline-block;
      -webkit-transition: all 200ms linear;
      transition: all 200ms linear;
  
      &:after {
        position: absolute;
        content: '';
        top: 50%;
        left: 0;
        width: 5px;
        height: 0;
        opacity: 0;
        background-color: #8167a9;
        z-index: 1;
        -webkit-transition: all 200ms linear;
        transition: all 200ms linear;
      }
  
      &:hover {
        &:after {
          height: 100%;
          opacity: 1;
          top: 0;
        }
  
        color: rgba(255, 255, 255, 1);
      }
    }
  
    &.active-nav a {
      color: rgba(255, 255, 255, 1);
  
      &:after {
        height: 100%;
        opacity: 1;
        top: 0;
      }
    }
  }
  
  body.nav-active {
    .nav__content {
      visibility: visible;
    }
  
    .menu-icon__line {
      background-color: #fff;
      -webkit-transform: translate(0px, 0px) rotate(-45deg);
      transform: translate(0px, 0px) rotate(-45deg);
    }
  
    .menu-icon__line-left {
      width: 15px;
      -webkit-transform: translate(2px, 4px) rotate(45deg);
      transform: translate(2px, 4px) rotate(45deg);
    }
  
    .menu-icon__line-right {
      width: 15px;
      float: right;
      -webkit-transform: translate(-3px, -3.5px) rotate(45deg);
      transform: translate(-3px, -3.5px) rotate(45deg);
    }
  
    .menu-icon:hover {
      .menu-icon__line-left, .menu-icon__line-right {
        width: 15px;
      }
    }
  
    .nav {
      visibility: visible;
  
      &:before {
        width: 250px;
        height: 350px;
        border-radius: 15px;
      }
  
      &:after {
        width: 250px;
        height: 350px;
        border-radius: 15px;
        -webkit-transition-delay: .1s;
        transition-delay: .1s;
      }
  
      &:before {
        -webkit-transition-delay: 0s;
        transition-delay: 0s;
      }
    }
  
    .nav__list-item {
      opacity: 1;
      -webkit-transform: translateX(0%);
      transform: translateX(0%);
      -webkit-transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
      transition: opacity .3s ease, color .3s ease, -webkit-transform .3s ease;
      transition: opacity .3s ease, transform .3s ease, color .3s ease;
      transition: opacity .3s ease, transform .3s ease, color .3s ease, -webkit-transform .3s ease;
  
      &:nth-child(0) {
        -webkit-transition-delay: 0.7s;
        transition-delay: 0.7s;
      }
  
      &:nth-child(1) {
        -webkit-transition-delay: 0.8s;
        transition-delay: 0.8s;
      }
  
      &:nth-child(2) {
        -webkit-transition-delay: 0.9s;
        transition-delay: 0.9s;
      }
  
      &:nth-child(3) {
        -webkit-transition-delay: 1s;
        transition-delay: 1s;
      }
  
      &:nth-child(4) {
        -webkit-transition-delay: 1.1s;
        transition-delay: 1.1s;
      }
  
      &:nth-child(5) {
        -webkit-transition-delay: 1.2s;
        transition-delay: 1.2s;
      }
  
      &:nth-child(6) {
        -webkit-transition-delay: 1.3s;
        transition-delay: 1.3s;
      }
  
      &:nth-child(7) {
        -webkit-transition-delay: 1.4s;
        transition-delay: 1.4s;
      }
  
      &:nth-child(8) {
        -webkit-transition-delay: 1.5s;
        transition-delay: 1.5s;
      }
  
      &:nth-child(9) {
        -webkit-transition-delay: 1.6s;
        transition-delay: 1.6s;
      }
  
      &:nth-child(10) {
        -webkit-transition-delay: 1.7s;
        transition-delay: 1.7s;
      }
    }
  }