$lightYellow: #f4f1e0;
$backgroundYellow: #f2e9bc;
$yellow: #fefefe;
$lightGrey: rgb(205, 204, 195);
$grey: #c4c4c4;
$translate: #6776ac;

// Media sizes
$big-desktop-width        : 1440px;
$desktop-width            : 1020px;
$sm-desktop-width         : 980px;
$tablet-width             : 768px;
$phone-width              : 480px;
$small-phone-width        : 320px;
